<!DOCTYPE html> 
<html> 
	<head> 
	<title>twixmit</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="/static/script.js"></script>
	<script type="text/javascript" src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js"></script>
</head> 
<body> 

<div data-role="page" id="home">
	<div data-role="header">
		<a href="/mobile#about" data-rel="dialog" data-icon="info">About</a> 
		<h1>twixmit</h1>
	</div><!-- /header -->

	<div data-role="content" style="">	
        <img src="/static/noun_project_296_1.png" alt="logo" style="padding-right:5px;float:left;" />
        <table height="72px" style="font-weight:bold;">
            <tr><td>t</td><td>w</td><td>i</td><td>x</td><td>m</td><td>i</td><td>t</td></tr>
            <tr><td>_</td><td>_</td><td>_</td><td>^</td><td>_</td><td>_</td><td>^</td></tr>
        </table>
        
		
        <div data-role="collapsible-set">
        
            <div data-role="collapsible" {%if needs_twitter_auth %}data-collapsed="false" {% endif %}>
            <h3>Account Information</h3>
            {% if user %}
                <ul data-role="listview" class="ui-listview">
                    <li class="ui-li ui-li-static ui-body-c">
                        <p class="ui-li-aside ui-li-desc"><a href="{{ logout_url }}">sign out</a></p>
                        <h3 class="ui-li-heading">Google - {{ user.nickname }}</h3>
                        <p class="ui-li-desc"><strong>You've been signed in as {{ user.nickname }}.</strong></p>
                        <p class="ui-li-desc"><img src="/static/noun_project_efc6cb60-70b9-4263-bf0f-947913b1f483.png" /></p>
                        
                    </li>
                    <li class="ui-li ui-li-static ui-body-c">
                        {%if needs_twitter_auth %}
                        
                        <p class="ui-li-aside ui-li-desc"><a href="{{redirect_url}}">sign into twitter</a></p>
                        <h3 class="ui-li-heading">You need to sign into Twitter!</h3>
                        <p class="ui-li-desc"><strong>In order to post, you need to sign into twitter!</strong></p>
                        <p class="ui-li-desc"><img src="/static/noun_project_554_1.png" /></p>
                        
                        {% else %}
                        
                        <p class="ui-li-aside ui-li-desc"></p>
                        <h3 class="ui-li-heading">Twitter - @{{twitter_user.screen_name }}</h3>
                        <p class="ui-li-desc"><strong>You've been signed in as {{twitter_user.screen_name }}.</strong></p>
                        <p class="ui-li-desc"><img src="/static/noun_project_efc6cb60-70b9-4263-bf0f-947913b1f483.png" /></p>
                        
                        {% endif %} 
                        
                    </li>
                </ul>
            
            {% else %}
            <img src="/static/noun_project_554_1.png" />
            <p>who are you? to play <a href="{{ login_url }}">sign into google!</a></p>
            {%  endif %}
            
            </div>
            
            <div data-role="collapsible" {%if not needs_twitter_auth %}data-collapsed="false" {% endif %}>
            <h3>Post New Update</h3>
            {%if not needs_twitter_auth %}
            <p id="save-results"></p>
                <textarea name="text-to-save" id="text-to-save" maxlength="140" placeholder="sample twitter post: I hope this gets posted on @twitter feed!"></textarea>
                <button class="ui-btn-hidden" id="post">Post</button>
            {% else %}
            <p>You need to sign into twitter in order to post.</p>            
            {% endif %}
            
            </div>
            
            <li class="ui-li ui-li-static ui-body-c" class="post-box" id="cloneme" style="display:none;">
                <p class="ui-li-aside ui-li-desc time"></p>
                <h3 class="ui-li-heading by"></h3>
                <p class="ui-li-desc text"></p>
            </li>
            
            <div data-role="collapsible">
                <h3>Your Pending Posts</h3>
                {%if needs_twitter_auth %}
                <p>You need to sign into twitter in order to have posts and see them here.</p>            
                {% else %}
                <ul data-role="listview" class="ui-listview" id="yours-pending">
                </ul>
                {% endif %}
            </div>
            
            <div data-role="collapsible">
            <h3>Everyones Posts</h3>
            {%if needs_twitter_auth %}
            <p>You need to sign into twitter in order to have posts and see them here.</p>            
            {% else %}
            <ul data-role="listview" class="ui-listview" id="theirs-pending">
            </ul>
            {% endif %}
            </div>
            
        </div>
	

	</div><!-- /content -->

	<div data-role="footer">
	    <div data-role="controlgroup" data-type="horizontal" style="text-align:center">
        <a href="/static/LICENSE.txt" data-role="button" data-rel="external" rel="external">LICENSE</a>
        <a href="/static/ATTRIBUTION.txt" data-role="button" data-rel="external" rel="external">ATTRIBUTION</a>
        <a href="mailto:twixmit@gmail.com" data-role="button" data-rel="external" rel="external">EMAIL</a>
        <a href="https://github.com/twixmit/twixmit" data-role="button" data-rel="external" rel="external">CODE</a>
        <a href="https://twitter.com/twixmit" data-role="button" data-rel="external" rel="external">TWITTER</a>
        </div>
	</div><!-- /footer -->
</div><!-- /page -->

<div data-role="page" id="about" data-title="twixmit - about">
    <div data-role="content">	
    <p>twixmit will switch your twitter posts with someone else's and theirs as well. How to play? Authorize this site to read your posts
    and post updates on your behalf. The posted update on your timeline will be randomly selected and will be the post someone else submitted
    that is also participating.</p>
    <p>Posts are made once a day GMT time. Submit your post through this site to be used for mixing. See how things are mixed
    and what gets posted where.</p>
    <p>You'll likely get something posted on your feed that is kind and nice, you might also get something negative. That's the point 
    of the game. You're putting your own feed at risk just like everyone else. Don't post anything you wouldn't want your mom to see.</p>
    </div>
</div>

<script type="text/javascript">
$("#home").live("pageinit", function(e) {
    {%if not needs_twitter_auth %}
    twixmitMainReady();
    {% endif %}
});
    
</script>
</body>
</html>