img.logo{
    float:left;
    padding-right: 10px;
}

div.about {
    font-weight:bold;
    font-size:14px;
}

div.logo{
    font-weight:bold;
    font-size:26px;
}

div.logo.icon {
    text-align: right;
}

div.nobody img, div.twitter img, div.google img{
    float:left;
    width: 10%;
    padding-right:10px;
}

div.logo p{
    font-size:12px;
}

ul.posts{
    list-style-type: none;
    padding: 0px;
}

li.post-box {
    border-bottom: 1px;
    border-bottom-style: solid;
    padding-bottom: 8px;
    padding-top: 2px;
}

li.post-box div.time, li.post-box div.by{
    font-size: 10px;
    text-align: right;
}   